@import "../../global.scss";
.skills {
  background-color: #fff;
  background-image: linear-gradient(to right, rgb(243, 243, 243));
  padding: 2rem;
  box-sizing: border-box;
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: auto;

    .grid-col-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      margin-bottom: 5rem;

      h4 {
        font-size: 2rem;
        grid-column: 1/-1;
        align-self: center;
        justify-self: center;
        padding-left: 0.5rem;
        color: $text-color-primary;
        border-bottom: 0.5rem solid $color-primary;
      }
      .skill-box {
        overflow: hidden;
        box-sizing: border-box;
        align-self: center;
        justify-self: center;
        text-align: center;
        min-width: 18rem;
        max-height: 20rem;
        min-height: 20rem;
        padding: 3rem 2rem;
        background-color: $color-tertiary;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: $shadow;
        margin: auto;

        .icon {
          font-size: 3rem;
          color: $color-primary;
        }
        .title {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 2rem;
          color: $text-color-primary;
          font-weight: 600;
        }
        .text {
          font-size: 1.4rem;
          text-align: center;
          color: $text-color-secodary;
          font-weight: 500;
        }
      }
    }

    .grid-col-6 {
      display: grid;
      max-width: 50rem;
      grid-template-columns: repeat(12, 1fr);
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      margin: 0 auto;
      gap: 2rem;
      border-radius: 10px;
      // background-color: red;
      padding: 3rem;
      z-index: 1;

      img {
        font-size: 2rem;
        max-width: 3rem;

        // background-color: yellow;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .skills {
    .container {
      .grid-col-3 {
        grid-template-columns: 1fr;
        gap: 2rem;
        .skill-box {
          min-width: 40rem;
        }
      }
      .grid-col-6 {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}
@media (max-width: $breakpoint-xs) {
  .skills {
    .container {
      .grid-col-3 {
        .skill-box {
          min-width: 30rem;
        }
      }
      .grid-col-6 {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
