@import "../../global.scss";
.about {
  // background-image: linear-gradient(to bottom, #ffffffe0, #eee6e6e0);

  background-color: $color-background-light;
  // background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  // height: auto !important;

  .container {
    // width: 70rem;
    // height: 30rem;
    // background-color: #fff;
    background-color: $color-background-light;
    // background-color: red;

    // padding: 3rem 5rem;
    // border-radius: 4px;
    // position: relative;
    // // border: 1px solid $color-primary;
    // // border-top: 10px solid $color-primary;
    // display: flex;
    // align-items: space-between;
    // box-shadow: $shadow;

    // gap: 9rem;

    display: grid;
    grid-template-columns: 1.5fr 1fr 5rem;

    // height: 50vh;
    align-items: center;
    // align-content: center;
    max-width: 110rem;

    img {
      max-width: 100%;
      border-radius: 20px;
      // transform: scale(1.7);
      box-shadow: $shadow;
      align-self: center;
      justify-self: center;
      justify-self: stretch;
    }

    .text {
      background-color: red;
      min-height: 60%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 4rem;
      border-radius: 10px 0 0 10px;
      box-shadow: $shadow;
      background-color: $color-tertiary;
      h4 {
        color: #444;
        font-size: 2rem;
        margin-bottom: 3rem;
        border-left: 0.5rem solid $color-primary;
        padding-left: 0.5rem;
        display: inline-block;
        margin-top: 2rem;
      }
      p {
        font-size: 1.8rem;
        line-height: 1.1;
        color: #444;
        font-weight: 600;
        margin-bottom: 2rem;
        padding-right: 2;
      }
      p:hover {
        color: $text-color-secodary;
      }
      a,
      a:link,
      a:visited {
        @include btn;
        background-color: $color-primary;
        color: #fff;
        padding: 0.7rem 2rem;
      }
      a:hover,
      a:active {
        background-color: $color-secondary;
      }
    }
    .icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 60%;
      font-size: 3rem;
      border-radius: 0 10px 10px 0;
      box-shadow: $shadow;
      background-color: $color-tertiary;
      a,
      a:link,
      a:visited {
        color: $color-primary;
      }
      a:hover,
      a:active {
        color: $color-secondary;
      }
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .about {
    height: auto !important;
    padding: 4rem 4rem;
    .container {
      max-width: 80%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr % 1fr;

      img {
        grid-row: 1/2;
        min-width: 20%;
        justify-self: start;
        align-self: start;
        border-radius: 10px 10px 0 0;
      }
      .icons {
        min-height: 8rem;
        flex-direction: row;
        grid-row: 2/3;
        align-self: center;
        justify-self: center;
        box-shadow: none;
        border-radius: 0;
        min-width: 100%;
        display: none;
      }
      .text {
        border-radius: 0 0 10px 10px;
        box-shadow: 0;
      }
    }
  }
}
