@import "../../global.scss";
.footer {
  background-color: #00000088;
  height: auto !important;
  text-align: center;

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-form;

    font-size: 2rem;
    padding: 2rem;

    a {
      margin-left: 1rem;
    }
  }
}
