.app {
  height: 100%;
  overflow-x: none;
  box-sizing: border-box;

  .sections {
    max-width: 100%;
    height: calc(100vh - 7rem);
    background-color: none;
    position: relative;
    top: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    // scroll-snap-type: y mandatory;
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    //}
    > * {
      width: 100vw;
      height: calc(100vh);
      // scroll-snap-align: start;
    }
  }
}
