$color-primary: #f3615e;
$color-secondary: #db5755;
$color-tertiary: #a7b4b488;

$color-background-light: rgb(243, 243, 243);

$text-color-primary: #333;
$text-color-secodary: #555;
$text-color-form: rgb(200, 192, 192);
$shadow: 0 12px 24px rgba(0, 0, 0, 0.28);

$breakpoint-xs: 320px;
$breakpoint-sm: 653px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@mixin btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem 2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
